<script setup lang="ts">
import { mdiStar } from "@mdi/js";
</script>

<template>
  <v-container>
    <v-row justify="center">
      <v-col>
        <v-card class="mx-auto" max-width="344">
          <v-img
            src="https://scontent.fbkk23-1.fna.fbcdn.net/v/t1.15752-9/320045976_593764255843709_4722317620682233832_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=ae9488&_nc_eui2=AeEMPGjChmwNoXebJMppSiPYuE7PaqJmhQu4Ts9qomaFC77ChEDAp4ah8AdpCl9k2u8tn26TfSvEhgoRTriX6HM1&_nc_ohc=5yWWQbqk13IAX8ijEMp&_nc_ht=scontent.fbkk23-1.fna&oh=03_AdTseiOJRQWY2KZGLnwody1P8-XJdyVP7smHO79401dEgQ&oe=63C69902"
            height="500px" cover></v-img>

          <v-card-title>
            Wariya Saichana
          </v-card-title>

          <v-card-subtitle>
            Burapa University
          </v-card-subtitle>
        </v-card>
      </v-col>
      <v-col cols="12" sm="">
        <v-card title="Interest" text="Aquariums"></v-card>
        <v-carousel>
          <v-carousel-item src="https://scontent.fbkk23-1.fna.fbcdn.net/v/t1.15752-9/317808323_715009260049318_1288687594567475634_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=ae9488&_nc_eui2=AeEgusViF3hMFlyGQJ7O6iFMKEeSa-ntGP8oR5Jr6e0Y_4BRVuwmjSL05a_O17-Eirpwfy4XhCbnXXUea7-OM0zS&_nc_ohc=sxbfRPfb57cAX8QkT8w&_nc_ht=scontent.fbkk23-1.fna&oh=03_AdTlO6nX8P7JbO6oxMEea44eomCavTVi4HITTN_ryStjGQ&oe=63C6B178" cover></v-carousel-item>

          <v-carousel-item src="https://scontent.fbkk23-1.fna.fbcdn.net/v/t1.15752-9/317622389_694395065538648_4630470399185735732_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=ae9488&_nc_eui2=AeFVcP725QoV_QthazFchs7bg0wG9bIWBZqDTAb1shYFmgS9tO4RI345LihfD8s3_-PAbGOsAp7UrmG_wS98Oda7&_nc_ohc=J9B7S9uu8hwAX8Ncaga&tn=pF98LUcwb5RQy7ll&_nc_ht=scontent.fbkk23-1.fna&oh=03_AdQGXMk0khPlE23-dk9m5uYzz4jK_KuxXE3EePnsEUATDw&oe=63C696CD" cover></v-carousel-item>

          <v-carousel-item src="https://scontent.fbkk23-1.fna.fbcdn.net/v/t1.15752-9/319292218_1296794644454979_7819711008848549549_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=ae9488&_nc_eui2=AeH_btNEap7x801PPs1r1HwwLftkM7VKza0t-2QztUrNrX-6Mr3JFdmUTpTqfM07e7LGO-awa2MJut7MHwxd_Tvz&_nc_ohc=QKnQ0gZOv2oAX-o9H9V&tn=pF98LUcwb5RQy7ll&_nc_ht=scontent.fbkk23-1.fna&oh=03_AdTUNJ2w0_ZrGJqVDEpM267AxJhVq68OOp6iL8-2g-PX9w&oe=63C6B5DA" cover></v-carousel-item>
        </v-carousel>
      </v-col>
    </v-row>
  </v-container>
</template>
